.header__main-layout{
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

@media screen and (min-width: 768px){
    .header__main-layout{
        display: none;
    }
    
}