.main-layout{
    height: 100vh;
    &__container{
        display: flex;
        flex-direction: column-reverse;
        height: calc(100% - 50px);
        &--content{
            height: 100%;
            flex-grow: 10;
        }
    }
}

@media screen and (min-width: 768px){
    .main-layout{
        flex-direction: row;
        &__container{
            flex-direction: row;
        }
    }
    
}